{% comment %}
  @param media {media} Shopify media object (video/external_video)
  @param poster {image} Poster image
  @param class {string} Additional CSS classes
{% endcomment %}

<so-deferred-media class="so-deferred-media {{ class }}" data-media-id="{{ media.id }}">
  {% unless media.host == 'shopify' %}
    <div class="so-deferred-media__frame">
      {% if poster != blank %}
        {% render 'responsive-image', image: poster, class: '', alt: media.alt %}
      {% endif %}
      <button class="so-button so-button--ghost" type="button" data-deferred-media-load aria-label="{{ 'general.media.play' | t }}">
        {{ 'general.media.play' | t }}
      </button>
    </div>
  {% endunless %}
  <template>
    {{ media | external_video_tag }}
  </template>
</so-deferred-media>
