{% comment %}
  @param product {product}
{% endcomment %}

{% if product != blank %}
  {% assign variant = product.selected_or_first_available_variant %}
  <so-product-card class="so-card product-card" role="article">
    <a class="so-card__media product-card__media" href="{{ product.url }}" aria-label="{{ product.title | escape }}">
      {% render 'responsive-image', image: product.featured_image, class: 'so-card__image product-card__image', alt: product.title %}
    </a>
    <div class="so-card__content product-card__content">
      <h3 class="so-card__title product-card__title">
        <a href="{{ product.url }}">{{ product.title | escape }}</a>
      </h3>
      {% render 'price', price: variant.price, compare_at_price: variant.compare_at_price %}
      {% if variant != blank %}
        <so-quick-add
          class="product-card__quick-add"
          ajax
          {% unless product.has_only_default_variant %}requires-options product-url="{{ product.url }}"{% endunless %}
        >
          {% if product.has_only_default_variant %}
            <form action="{{ routes.cart_add_url }}" method="post">
              <input type="hidden" name="id" value="{{ variant.id }}">
              <button class="so-button so-button--secondary" type="submit" {% unless variant.available %}disabled{% endunless %}>
                {% if variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </button>
            </form>
          {% else %}
            <a class="so-button so-button--secondary" href="{{ product.url }}" data-quick-add-open>{{ 'products.product.view_options' | t }}</a>
          {% endif %}
        </so-quick-add>
      {% endif %}
    </div>
  </so-product-card>
{% endif %}
